*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    height:100%;
    width:100%;
}
#main
{
    height:100%;
    width:100%;
    background-color:white;

}
#nav
{
    height:100px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 40px;


}
#nav-part1{
    display:flex;
    align-items:center;
    justify-content:center;
}

#nav h3{
    font-size:16px;
    border:2px solid #000;
    padding:5px 10px;
    font-weight:500;
    border-radius:50px;

}
#nav  i{
    font-size:16px;
    border:2px solid #000;
    padding:5px 10px;
    font-weight:500;
    border-radius:50px;
}
#nav h2
{
    font-weight:500;
    font-size:22px;
    text-transform:uppercase;
}
#nav button
{
    padding:7px 12px;
    border-radius:50px;
    border:2px solid #000;
    font-size:16px;
    font-weight:600;
    background-color:white;
}
#btn2{
  
    background-color:red;
}
#main>h1{
    font-size:130px;
    text-transform:uppercase;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
    width:100%;
    text-align:center;
     
}
img
{
    height:350px;
    width:300px;
    object-fit:cover;
    position:absolute;
    object-position:center;
    top:25%;
    left:39%;
    border-radius:25px;
    transform::translate(-50%,-50%);

}

#img2
{
    rotate:-10deg;
 
}
#img3
{
   rotate:-20deg;

}
#img4
{
    rotate:-30deg;

}
#img5
{
   rotate:-40deg;


}
#img1
{
  rotate:deg;
 
}
#btn-left
{
    position:absolute;
    bottom:5%;
    left:3%;
    font-size:15px;
}
#icon
{
    position:absolute;
    bottom:5%;
    left:90%;
    font-size:15px;
}

